<div class='proposal-list'>
  <ul>
    {% for proposal in proposals %}
      <li>
        <a href='{{ proposal.get_absolute_url }}'>{{ proposal.current_revision.text|truncatewords:"10" }}</a><br />
        {% if proposal.deadline %}
          <span class='subtle date'>
            Deadline: {{ proposal.deadline|date:"D N j, P" }}
          </span>
        {% endif %}
      </li>
    {% empty %}
      <li>None yet.</li>
    {% endfor %}
  </ul>
  {% if membership.has_joined %}
    <a class='btn'
       href='{% url resolve_add_proposal group.pk %}'>New proposal</a>
  {% endif %}
</div>
