{% extends "groups/base.html" %}

{% block title %}Mailing List{% endblock %}

{% block content %}
  <h1>Mailing List Messages</h1>
  <div style='text-align: center; margin-bottom: 1em;'>
    Send to the list: <a class='label label-info' href='mailto:{{ group.get_mailing_list_address }}'>{{ group.get_mailing_list_address }}</a>
  </div>
  {% if page.paginator.num_pages > 1 %}
    Page {{ page.number }} of {{ page.paginator.num_pages }}
    {% include "discussion/partials/pagination.html" %}
  {% endif %}
  {% if page.paginator.count == 0 %}
    No messages yet.
  {% endif %}
  <ul class='thread-list'>
    {% for message in page.object_list %}
      <li class='thread-{{ message.thread_depth_denormalized }}'>
        <span class='date'>{{ message.date }}</span>
        <span class='trigger-message' data-target='msg_{{ message.pk }}'>
          <a href='{% url discussion:show_thread group.pk message.pk %}'
            >{{ message.subject }}</a>
          <div class='message-body body' id='msg_{{ message.pk }}'>{{ message.body }}</div>
        </span>
        <span class='author'>{{ message.sender }}</span>
      </li>
    {% endfor %}
  </ul>

  {% include "discussion/partials/pagination.html" %}
{% endblock %}
{% block footjs %}
<script type='text/coffeescript' src='{{ STATIC_URL }}discussion/threading.coffee'></script>
<script type='text/coffeescript'>
  $(".trigger-message").hover( ->
    $("##{$(this).attr("data-target")}").show()
  , ->
    $("##{$(this).attr("data-target")}").hide()
  )
</script>
{% endblock %}
