{% extends "groups/base.html" %}
{% block title %}{{ message.subject }}{% endblock %}

{% block content %}
  <div id='discussion_loading' style='display: none;'>
    <img src='{{ STATIC_URL }}img/spinner.gif' alt='Loading...' />
  </div>
  <div class='discussion'>
    <div class='discussion-content'>
      {% include "discussion/partials/thread_nav.html" %}
      {% for msg in thread %}
        <div class='message thread-{{ msg.thread_depth_denormalized }}'
             id='msg_{{ msg.pk }}'
             data-id='{{ msg.message_id }}'
             data-in-reply-to='{{ msg.in_reply_to }}'>
          <a href='{% url discussion:show_thread group.pk msg.pk %}' class='permalink'>&para;</a>
          <div class='date'>{{ msg.date }}</div>
          <table class='headers'>
            <tr><th>From:</th><td>{{ msg.sender }}</td></tr>
            <tr><th>Subject:</th><td>{{ msg.subject }}</td></tr>
          </table>
          <div class='body'>{{ msg.body }}</div>
          <div class='post-line'></div>
        </div>
        <br />
      {% endfor %}
      {% include "discussion/partials/thread_nav.html" %}
      <hr>
      <div class='row-fluid'>
        <div class='span6 other-threads'>
          <h3>Older threads</h3>
          {% for msg in prev_msgs %}
            <div>
              <span class='date'>{{ msg.date }}</span>
              <a class='thread-nav left'
                href='{% url discussion:show_thread group.pk msg.pk %}'
                >{{ msg.subject }}</a>
            </div>
          {% endfor %}
        </div>
        <div class='span6 other-threads'>
          <h3>Newer threads</h3>
          {% for msg in next_msgs %}
            <div>
              <span class='date'>{{ msg.date }}</span>
              <a class='thread-nav right'
                 href='{% url discussion:show_thread group.pk msg.pk %}'
                 >{{ msg.subject }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span6 offset3 other-threads'>
          <h3>Latest threads</h3>
          {% for msg in latest_msgs %}
            <div>
              <span class='date'>{{ msg.date }}</span>
              <a class='thread-nav right'
                 href='{% url discussion:show_thread group.pk msg.pk %}'
                 >{{ msg.subject|truncatewords:5 }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footjs %}
<script type='text/javascript' src='{{ STATIC_URL }}discussion/jquery-ui.slide.min.js'></script>
<script type='text/coffeescript' src='{{ STATIC_URL }}discussion/threading.coffee'></script>
{% if message %}
<script type='text/javascript'>
  var el = document.getElementById("msg_{{ message.pk }}");
  el.scrollIntoView();
</script>
{% endif %}
{% endblock %}
