{% extends "base.html" %}

{% block body_class %}fence{% endblock %}

{% block title %}Open Sesame{% endblock %}

{% block content %}
<div class='row-fluid'>
  <div class='span4 offset4 fence'>
    <form method='post' action=''>{% csrf_token %}
      <p>
      We're still in private alpha right now.  What's the <span class='intertwinkles'>magic</span> word?
      </p>
      {{ form }}
      <input class='btn btn-large' type='submit' value='Let me in!' />
    </form>
  </div>
{% endblock %}
{# Suppress browserid! #}
{% block browserid_script %}{% endblock %}
{% block foot_js %}<script type='text/javascript'>navigator.id.logout();</script>{% endblock %}
