{% extends "base.html" %}
{% block title %}{{ _("Edit Profile") }}{% endblock %}
{% block css %}
{{ profile_form.media.css }}
{% endblock %}
{% block content %}
    <style type='text/css'>
        th,td {
            min-width: 150px;
            border: 1px solid #ddd;
            vertical-align: top;
        }
        label {
            font-weight: bold;
        }
    </style>
    <form method='post' action='' class='form-horizontal'>{% csrf_token %}
      <fieldset>
        <legend>Profile settings</legend>
        <div class='control-group {% if profile_form.name.errors %} error{% endif %}'>
          <label class='control-label' for='id_name'>{{ profile_form.name.label }}</label>
          <div class='controls'>
            {{ profile_form.name }}
            <span class='help-inline'>{{ profile_form.name.errors }}</span>
          </div>
        </div>
        <div class='control-group {% if profile_form.mobile_number.errors or profile_form.mobile_carrier.errors %} error{% endif %}'>
          <label class='control-label' for='id_mobile_number'>{{ profile_form.mobile_number.label }}</label>
          <div class='controls' style='height: 16px;'>
              <table class='plain'><tr><td>{{ profile_form.mobile_number }}</td><td>{{ profile_form.mobile_carrier }}
            <span class='help-inline'>{{ profile_form.mobile_number.errors }}{{ profile_form.mobile_carrier.errors }}</span>
              </td></tr></table>
          </div>
        </div>
        <div class='control-group {% if email_form.email.errors %} error{% endif %}{% if emailreq.email != request.user.email %} warning{% endif %}'>
          <label class='control-label' for='id_email'>{{ email_form.email.label }}</label>
          <div class='controls'>
            {{ email_form.email }}
            <span class='help-inline'>{{ email_form.email.errors }}</span>
            {% if emailreq.email != request.user.email %}
            <div class='alert'>
              This address is unconfirmed. Please
              <a href='{% url profiles_signout %}'>sign out</a>
              and sign in again using this address to confirm.
              (We've still got you as <tt>{{ request.user.email }}</tt>.)
            </div>
            {% endif %}
          </div>
        </div>
        <div class='control-group{% if profile_form.source_icon.errors %} error{%endif %}'>
          <label class='control-label' for='id_source_icon'>{{ profile_form.source_icon.label }}</label>
          <div class='controls'>
            {{ profile_form.source_icon }}
            <span class='help-inline'>{{ profile_form.source_icon.errors }}</span>
          </div>
        </div>
        <div class='control-group{% if profile_form.icon_color.errors %} error{%endif %}'>
          <label class='control-label' for='id_icon_color'>{{ profile_form.icon_color.label }}</label>
          <div class='controls'>
            {{ profile_form.icon_color }}
            <span class='help-inline'>{{ profile_form.icon_color.errors }}</span>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label'>Notifications</label>
          <div class='controls'>
            <table class='form' style='max-width: none;'>
              {% for row in notice_settings_table %}
                <tr>
                  <td style='text-align: right'>{{ row.notice_type.description }}</td>
                  {% for label, value, display in row.cells %}
                    <td>
                      <label>
                      <input type='checkbox' value='on' {% if value %}checked='checked'{% endif %} id='id_{{ label }}' name='{{ label }}' /> {{ display }}</label>
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
            <div class='alert alert-info'>
                To ensure you receive notifications, please add
                <b><a href='mailtto:{{ from_email }}'>{{ from_email }}</a></b>
                to your address book or <nobr>approved sender list.</nobr>
            </div>
            {% if not user.profile.mobile_number %}
             <div class='alert alert-warning'>Add a mobile number (above) if you wish to receive text messages.  Standard messaging rates apply.</div>
            {% endif %}
          </div>
        </div>
        <div class='control-group' style='text-align: right;'>
          <input type='submit' value='Save settings' class='btn btn-large btn-primary' />
        </div>
      </div>
        </table>
      </form>
{% endblock %}
{% block footjs %}
{{ profile_form.media.js }}
<script type='text/coffeescript'>
  colorer = $("#id_icon_color")
  colorer.on "change", ->
    colorer.parent().find(".help-inline").html(match_color(colorer.val()))
  $("#id_mobile_carrier").select2({placeholder: "Select a carrier"})
</script>
{% endblock %}
