{% extends "base.html" %}
{% block title %}About the icons{% endblock %}
{% block content %}
    <h1>About the icons</h1>
    <p>We use icons taken from the beautiful <a href='http://thenounproject.com'>The Noun Project</a>.  Below is detailed info on the source of each icon:</p>
    <style type='text/css'>
      td {
        border: 1px solid #ddd;
      }
    </style>
    <table id='attribution'></table>
{% endblock %}
{% block footjs %}
<script type='text/coffeescript'>
  data = {{ attribution_json|safe }}
  count = 0
  for icon in data
    do (icon) ->
      tr = $("<tr />")
      icon_td = $("<td/>")
      icon_div = $("<div class='icon'></div>").css({
        "background-image": "url(\"{{ MEDIA_URL }}profile_icons/chooser.png\")"
        "background-position": (-32 * count) + "px 0px"
        "cursor": "pointer"
      })
      icon_div.on "click", ->
        window.location.href = "http://thenounproject.com/noun/#{icon.name.toLowerCase().replace(" ", "-")}/##{icon.id.replace("icon-", "icon-No")}"
      icon_td.append(icon_div)
      att_td = $("<td/>").html(icon.attribution)
      tr.append(icon_td)
      tr.append(att_td)
      $("#attribution").append(tr)
      count += 1
</script>
{% endblock %}
