{% extends "base.html" %}
{% load humanize %}
{% block title %}Messages{% endblock %}

{% block content %}
<table class='notifications'>
  {% if notices_page.paginator.count > 0 %}
    <tr>
      <td colspan='2'>
        {% if notice_unseen_count == 0 %}
        No new messages.  Kitten.<br /><img src='http://placekitten.com/200/100'  alt='cute cat picture' /><br /><h2>Old messages:</h2></td>
        {% else %}
        <h2>Messages</h2>
        {% endif %}
    </tr>
  <tr>
    <th style='text-align: left;'>From</th>
    <th style='text-align: left;'>Message</th>
  </tr>
  {% endif %}
  {% for notice in notices_page.object_list %}
    <tr class='notice{% if notice.is_unseen %} unseen{% endif %}'>
      <td>
        {% with user=notice.sender %}
          {% include "profiles/partials/person.html" %}
        {% endwith %}
      </td>
      <td class='message'>
        <span class='date'>{{ notice.added|naturalday }}:</span> {{ notice.message|safe }}
      </td>
    </div>
  {% empty %}
  <tr>
    <td colspan='2'>
      <p>No messages yet.  Have a kitten.</p>
      <p><img src='http://placekitten.com/400/400' alt='cute cat picture' /></p>
    </td>
  </tr>
  {% endfor %}
  <tr class="pagination">
    <td colspan='2'>
      <ul>
        {% if notices_page.has_previous %}
          <li><a href="?page={{ notices_page.previous_page_number }}">Prev</a></li>
        {% endif %}
        {% for p in notices_page.page_range %}
          <li {% if p == notices_page.number %}class='active'{% endif %}>
            <a href="?page={{ p }}">p</a>
          </li>
        {% endfor %}
        {% if notices_page.has_next %}
          <li><a href="?page={{ notices_page.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </td>
  </tr>
</table>


{% endblock %}
