{% extends "base.html" %}
{% block title %}{{ _("Edit Profile") }}{% endblock %}
{% block css %}
{{ form.media.css }}
{% endblock %}
{% block content %}

<div class='row-fluid'>
  <div class='span6 offset3'>
    <h1 style='text-align: center;'>Ready in 1, 2, 3:</h1>
    <form method='post' action=''>{% csrf_token %}
      <div class='control-group{% if form.name.errors %} error{% endif %}'>
        <h2>1: {{ form.name.label }}</h2>
        <div class='controls'>
          {{ form.name }}
          <span class='help-inline'>{{ form.name.errors }}</span>
        </div>
      </div>

      <div class='control-group{% if form.icon_color.errors %} error{% endif %}'>
        <h2>2: {{ form.icon_color.label }}</h2>
        <div class='controls'>
          {{ form.icon_color }}
          <span class='help-inline'>{{ form.icon_color.errors }}</span>
        </div>
      </div>

      <div class='control-group{% if form.source_icon.errors %} error{% endif %}'>
        <h2>3: {{ form.source_icon.label }}</h2>
        <div class='controls'>
          {{ form.source_icon }}
          <span class='help-inline'>{{ form.source_icon.errors }}</span>
        </div>
      </div>

      <div style='text-align: center;'>
        <input type='submit' value='Ok, Ready, Go!' class='btn btn-large btn-primary' />
      </div>
    </form>
  </div>
</div>

{% endblock %}
{% block footjs %}
{{ form.media.js }}
<script type='text/coffeescript'>
  colorer = $("#id_icon_color")
  colorer.on "change", ->
    colorer.parent().find(".help-inline").html(match_color(colorer.val()))
</script>
{% endblock %}
