{% extends "base.html" %}
{% block title %}Invite{% endblock %}

{% block page_class %}home-page{% endblock %}

{% block content %}
<div class='hero-unit'>
  <h2>Request an invite</h2>
  <p>Inter<span class='intertwinkles'>Twinkles</span> is in private beta still.  If your group is interested in participating in early testing, request an invite!</p>
  <a name='request_invite'></a>
  <form method='post' action='' style='text-align: center;'>{% csrf_token %}
    <div class='input-append'>
      <input name='email' type='email' placeholder='Email'
          /><button class='btn' type='submit'>Request invite</button>
    </div>
  </form>
</div>
{% endblock %}

