{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        Whoops... by the power of <span class='color-name'></span> {{ user.profile.get_icon_name }}, you're already signed in.  Would you like to <a href='{% url profiles_signout %}'>Sign Out</a>?
    {% else %}
        <h1>Sign In</h1>
        <p>Sign in using Persona:</p>
        <a href='#' id='browserid'><img src='{{ STATIC_URL }}img/sign_in_blue_enormous.png' alt='Sign in' /></a>
    {% endif %}
{% endblock %}
{% block footjs %}
    <script type='text/coffeescript'>
        console.log match_color, $(".color-name")
        $(".color-name").html(
            match_color("{{ user.profile.icon_color }}") + "-ish"
        ).css(
            "color", "#" + "{{ user.profile.icon_color }}"
        )
    </script>
{% endblock %}
