{% extends "base.html" %}
{% block title %}Successfully signed out{% endblock %}
{% block content %}
Thanks for <a href='{% url home %}' style='color: black;'>Inter<span class='intertwinkles'>Twinkling</span></a>!
{% endblock %}
