.attribution-link {
    top: 0.5em;
    position: relative;
}
.icon {
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #eee;
    position: relative;
    font-size: 0px;
}
.icon:hover {
    border: 1px solid #ff9900;
}
.icon .chosen {
    background-color: #ff9900;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
