{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Twinkling all over the InterWebs{% endblock %}

{% block body_class %}home-page{% endblock %}
{% block content %}
  <div class='home-top'>
    <div class='hero-unit'>
      <div class='row-fluid'>
        <div class='span6'>
          <img src='{{ STATIC_URL }}img/placeholder_600x600.jpg' style=''/>
        </div>
        <div class='span6'>
          <h1>Build understanding.</h1>
          <p>
            Inter<span class='intertwinkles'>Twinkles</span> is a collection of
            tools for democratic groups. We aim to help your co-op, affinity
            group, collective, board of directors, or remote workgroup to have
            better
            <em>communication</em>,
            <em>accountability</em>,
            <em>decision making</em>,
            and <em>record keeping</em> online.
          </p>
          <p>
            InterTwinkles provides a private, dedicated space for your group to
            communicate online.  It incorporates mailing lists, brainstorming
            tools, collaborative document editing, and decision making tools
            together with notifications, private search, and more.  
          </p>
          <p>
            We're in private beta still.  Would your group be interested in
            participating in early testing?  Request an invite, and join us in
            <span class='intertwinkles'>twinkling</span> all over the interwebs.
          </p>
          <form method='post' action='' style='text-align: center;'>{% csrf_token %}
            <div class='input-append'>
              <input name='email' type='email' placeholder='Email'
                  /><button class='btn btn-success' type='submit'>Request invite</button>
            </div>
          </form>
          <div style='text-align: center;'>
            <a class='btn btn-primary btn-large' href='{% url about:about %}'>Learn more &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class='home-tools'>
    <div class='row-fluid'>
      <div class='span8 offset2'>
        <a name='tools'></a>
        <h2>Standalone Tools</h2> 
        <p>
        You can use all of these tools
        <span class='intertwinkles'>right now</span> without any accounts or
        signups.  Try them out and
          <nobr><a href='mailto:cfd@media.mit.edu'>tell us what you think</a></nobr>!
        </p>
        <p>
          When your group signs up for InterTwinkles, you get a dedicated space
          with private versions of these tools and more.
        </p>
      </div>
    </div>
    <div class='row-fluid tools'>
      <div class='span4 tool'>
        <div class='row-fluid'>
          <div class='span4'>
            <a href='http://dotstorm.intertwinkles.org'>
              <img src='{{ STATIC_URL }}img/tools/dotstorm_100x100.png' alt='Dotstorm' />
            </a>
          </div>
          <div class='span8'>
            <h3><a href='http://dotstorm.intertwinkles.org'>Dotstorm</a></h3>
            <p>Real-time, collaborative visual brainstorming.</p>
            <p><a href='#' class='modal-video' data-url='https://www.youtube-nocookie.com/embed/dj_yW2WfsEw' data-width="640" data-height="480"><i class='icon-play'></i> Watch screencast</a>
            </p>
          </div>
        </div>
      </div>
      <div class='span4 tool'>
          <a href='http://tenpoints.intertwinkles.org'>
            <img style='float: left; margin: 0.5em;' src='{{ STATIC_URL }}img/tools/10-points-100x100.png' alt='10 Points' />
          </a>
          <h3><a href='http://tenpoints.intertwinkles.org'>Ten Points</a></h3>
          <p>
          10 Points is a consensus-building tool modeled after the meetings
          tool from the
          <a href='http://meetings.mayfirst.org/'>May First/People Link</a>
          collective. Groups can use 10 Points to develop a shared set of
          principles, values, questions, or points that everyone agrees with.
          </p>
      </div>
      <div class='span4 tool'>
        <a href='http://time.intertwinkles.org'>
          <img style='float: left; margin: 0.5em;' src='{{ STATIC_URL }}img/tools/progressive_clock_100x100.png' alt='Progressive Clock' />
        </a>
        <a href='http://time.intertwinkles.org'><h3>Progressive Clock</h3></a>
        <p>The Progressive Clock is a simple application for "progressive
        timekeeping" &ndash; keeping track of speaking time by configurable
        categories of identity (e.g. sex, gender, racial identity, power
        position, etc).  Use it at your next meeting to learn more about speaking
        dynamics in your group.</p>
      </div>
    </div>

    <div class='row-fluid'>
      <div class='span8 offset2'>
        <a name='games'></a>
        <h2>Games</h2>
        <p>
          It takes more than technology to communicate better online.  People
          have to learn how consensus and small-group democracy work differently
          when you can't see and hear someone immediately all the time.
        </p>
        <p>
          These games are designed to help your group think about how
          communication works differently online.  Try them out, and
          <a href='mailto:cfd@media.mit.edu'>let us know how it went</a>!
        </p>
      </div>
    </div>
    <div class='row-fluid tools'>
      <div class='span4 offset2 tool'>
        <a href='http://moon.intertwinkles.org'>
          <img style='float: left; margin: 0.5em;' src='{{ STATIC_URL }}img/tools/moon_talk_100x100.png' alt='Moon Talk' />
        </a>
        <h3><a href='http://moon.intertwinkles.org'>Moon Talk</a></h3>
        
        <p>Moon Talk is a facilitated role playing communication game which asks
        players to think about what it's like to make decisions using constrained
        communication channels.
        </p>
        <p>
        How hard is it to schedule a meeting, if you can't see each other, and
        only one person can talk at once?
        </p>
        <p>
        The Moon Talk website contains the directions you need to play a game of
        moon talk with your group.
        </p>
      </div>
      <div class='span4 tool'>
        <a href='http://project.byconsens.us/projects/consensus/wiki/Flame_War'>
          <img style='float: left; margin: 0.5em;' src='{{ STATIC_URL }}img/tools/flame_war_100x100.png' alt='Moon Talk' />
        </a>
        <h3><a href='http://project.byconsens.us/projects/consensus/wiki/Flame_War'>Flame War</a></h3>
        <p>
        Flame War is a card game about making decisions over email. It's designed
        to encourage groups to think about how they use email, and how good and
        bad email practices can contribute to decision making processes.
        </p>
        <p>
        The Flame War website has full instructions, as well as templates for the
        cards which you can print out.
        </p>
      </div>
    </div>
  </div>

{% endblock %}

{% comment %}
<script type="text/javascript" src="http://html5.kaltura.org/js"></script>
<script type="text/javascript">
  mw.setConfig('EmbedPlayer.AttributionButton',false);
  mw.setConfig('EmbedPlayer.EnableOptionsMenu',false);
</script>
<iframe src="http://techtv.mit.edu/embeds/19846?html5=true&amp;size=medium&amp;custom_width=432&amp;player=simple&amp;external_stylesheet=" frameborder="0" height="275" width="432"></iframe>
      <div>
        <p>
          Consensus and democracy aren't about voting &ndash; they're about
          coming up with the best ideas, and communicating your needs and desires
          with everyone.  You don't build understanding with a ballot box.
        </p>
        <p>
          Inter<span class='intertwinkles'>Twinkles</span> strives to help
          your group's online work be more like offline.  To get back a feeling
          of unity and shared purpose, even across geographies and time zones.
        </p>
      </div>
{% endcomment %}
