<div class='group'>
  <h2><a href='{{ group.get_absolute_url }}'>{{ group.name }}</a></h2>
  {% if group.enable_mailing_list %}
  <div>
    Mailing list: <a href='mailto:{{ group.get_mailing_list_address }}'>{{ group.get_mailing_list_address }}</a>
  </div>
  {% endif %}
  
  {% for member in group.membership_set.active %}
    {% include "groups/partials/member.html" with member=member%}
  {% endfor %}
</div>
