{% spaceless %}
{% if user %}
{% with p=user.get_profile %}
  <span rel='popover'
      data-placement="bottom"
    {% if p %}
      data-title="{{ p.name }}"
      data-content="{% if member.role or role %}{% firstof role member.role %}<br />{% endif %}<a href='mailto:{{ user.email }}'>{{ user.email }}</a>"
    {% else %}
      data-title="{{ user.email }}"
      data-content="Invited"
    {% endif %}
    >{% if p %}{{ p.format_tiny_icon }}{% else %}?{% endif %}</span>
{% endwith %}
{% endif %}
{% endspaceless %}
