{% with user=member.user %}
{% with p=user.get_profile %}
<div class='membership'
     data-rel='tooltip'
     title='{{ user.email }}'
     data-placement='bottom'>
    <div class='person'>
      {% if p %}
        <div class='icon'>{{ p.format_small_icon }}</div></td>
        <div class='details'>
          <div class='name'>{{ p.name }}</div>
          <div class='role'>
            {{ member.role }} 
            {% if not member.voting %}[non-voting]{% endif %}
          </div>
        </div>
      {% else %}
        <i>{{ user.email }}</i>
      {% endif %}
      <div style='clear: both;'></div>
    </div>
  </div>
{% endwith %}
{% endwith %}
