{% with u=membership.user %}
{% with p=u.get_profile %}
    <div class='person'>
      {% if p and membership.has_joined %}
      <div class='icon'>{{ p.format_small_icon }}</div>
      <div class='details'>
          <div class='name'>{{ p.name }}</div>
          <div class='email'>{{ u.email }}</div>
      </div>
      {% else %}
        <i>{{ u.email }}</i> &ndash; invited
      {% endif %}
      <input type='hidden' name='email' value='{{ u.email }}' />
      <div style='clear: both;'></div>
    </div>
{% endwith %}
{% endwith %}
