<form class='form-search'
      action='{% if search_url %}{{ search_url }}{% else %}{% url groups_search %}{% endif %}'
      method='GET'>
  <div class='control-group'>
    <div class='controls'>
      <div class='input-append'>
        <input
             size='16' type='text' name='q' {% if q %}value='{{ q }}'{% endif %}
             placeholder='{% firstof placeholder "Search" %}'
          /><button class='btn' type='button' onclick='this.form.submit();'
          ><i class='icon-search' title='Search'></i></button>
      </div>
    </div>
  </div>
</form>
