{% extends "base.html" %}
{% load thumbnail %}

{% block subnav %}
<div class='navbar'>
  <div class='navbar-inner'>
    <ul class='nav'>
      <li>
        <div class='btn-group'>
          <a href='#' class='btn btn-small dropdown-toggle' data-toggle='dropdown'>
            {% if group.logo %}
              {% thumbnail group.logo "x32" format="PNG" as img %}
                <img src='{{ img.url }}' width='{{ img.width }}' height='{{ img.height }}' alt='{{ group.name }}' title='{{ group.name }}' rel='tooltip' style='vertical-align: top;'/>
              {% endthumbnail %}
            {% else %}
                <span class='group-name cursive' style='font-size: 150%;'>{{ group.name }}</span>
            {% endif %}
            &#9660;
          </a>{% if membership.has_joined %}<a class='btn btn-small' rel='tooltip' title='<i>{{ group.name }}</i> Settings and Members' href='{% url groups_edit_group group.pk %}'><i class='icon-cog'></i></a>
          {% endif %}
          <ul class='dropdown-menu' role="menu">
            {% for mem in user.membership_set.current_and_invited %}
              {% with g=mem.group %}
              <li class='{% if not mem.invitation_closed %}new{% endif %} {% if g == group %}active{% endif %}'>
                  <a href='{{ g.get_absolute_url }}'>
                    {{ g.name }}
                  </a>
                </li>
              {% endwith %}
            {% endfor %}
            <li class='divider'>&nbsp;</li>
            <li><a href='{% url groups_edit_group %}'><i class='icon-plus'></i> Add a new group</a></li>
          </ul>
        </div>
      </li>
      <li>
        {% if group.enable_mailing_list %}
          <a href='{% url discussion:list_threads group.pk %}'><i class='icon-envelope'></i> Mailing List</a>
        {% else %}
          <a href='mailto:{{ group.get_group_cc_mailto }}'><i class='icon-envelope'></i> Email Everyone</a>
        {% endif %}
      </li>
      <li>
        <a href='{% url embeds:list group.pk %}'><i class='icon-file'></i> Documents and Brainstorms</a>
      </li>
      <li>
        <a href='{% url resolve_list_proposals group.pk %}'><i class='icon-thumbs-up'></i> Proposals</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}


    {# Members #}
    {% comment %}
      {% for member in group.membership_set.active %}
        {% include "groups/partials/icon.html" with user=member.user %}
      {% endfor %}
      {# Invited #}
      {% with invited=group.membership_set.open_invitations %}
        {% if invited %}
          Invited:
          {% for member in invited %}
            {% include "groups/partials/icon.html" with user=member.user role="Invited" %}
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endcomment %}
