{% extends "groups/base.html" %}
{% block title %}Edit Group{% endblock %}
{% block subnav %}
  {% if group.pk %}
    {{ block.super }}
  {% endif %}
{% endblock %}
{% block content %}
<form class='form-horizontal' method='post' action='' enctype="multipart/form-data">{% csrf_token %}
    {% if not group.pk %}
        <input type='hidden' name='active' value='true' />
    {% endif %}
    {% include "partials/bootstrap_form.html" with form=form %}
    <div class='control-group'>
      <label class='control-label'>Members</label>
      <div class='controls'>
        <div class='membership-table'>
        </div>
      </div>
    </div>
    {% include "partials/bootstrap_submit.html" with submit_text="Save changes" submit_class='btn btn-primary btn-large' %}
</form>
<script type='text/javascript'>
  var MEMBERSHIP_DATA = {{ membership_data|safe }};
</script>
{% endblock %}

{% block footjs %}
{{ block.super }}
<script type='text/coffeescript'>
  #
  # Auto-populate slug
  #
  {% if not group.pk %}
  $("#id_name").on "keyup", (e) ->
    $("#id_slug").val $("#id_name").val().toLowerCase().replace(/[^-a-z0-9]+/g, '-')
  {% endif %}

  membership_table = new it.MembershipTable(memberships: MEMBERSHIP_DATA)
  $(".membership-table").html(membership_table.el)
  membership_table.render()
</script>
{% endblock %}
