{% extends "base.html" %}
{% load humanize %}

{% block title %}Manage Groups{% endblock %}
{% block content %}
<div class='row-fluid'>
  <div class='span9'>
    <h1>Your group{{ active_memberships|pluralize }}</h1>
    <ul class='bare'>
      {% for membership in active_memberships %}
        <li class='green-glow'>
          {% include "groups/partials/group_medium.html" with group=membership.group%}
        </li>
      {% empty %}
        <li>
          You have no active groups.
          <a href='{% url groups_edit_group %}'
            class='btn btn-primary btn-large'><i class='icon-plus'></i> Add a new group</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class='span3'>
    {% if active_memberships %}
      <div>
        <a href='{% url groups_edit_group %}' class='btn btn-large'><i class='icon-plus'></i> Add a new group</a>
      </div>
    {% endif %}
    {% if inactive_group_memberships %}
      <hr>
        <h3>Inactive groups</h3>
        <ul>
            {% for membership in inactive_group_memberships %}
            <li><a href='{{ membership.group.get_absolute_url }}'>{{ membership.group.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if lapsed_memberships %}
      <hr>
        <h3>Past groups</h3>
        <ul>
          {% for membership in lapsed_memberships %}
            <li>You were a member of <i>{{ membership.group.name }}</i> from {{ membership.start|naturalday }} to {{ membership.end|naturalday }}</li>
          {% endfor %}
        </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
