{% extends "base.html" %}
{% load highlight %}

{% block title %}{% if group %}{{ group.name }}: {% endif %}Search{% endblock %}
{% block searchform %}{%endblock %}

{% block content %}
{% if group %}
  <h1>Search within {{ group.name }}</h1>
{% else %}
  <h1>Search across all of your groups</h1>
{% endif %}

<form class='form-search' action='' method='GET'>
  <div class='control-group'>
    <div class='controls'>
      <div class='input-append'>
        <input
             size='16' type='text' name='q' {% if q %}value='{{ q }}'{% endif %}
             placeholder='Search'
          /><button class='btn' type='button' onclick='this.form.submit();'
          ><i class='icon-search' title='Search'></i></button>
      </div>
    </div>
  </div>
</form>

<div class='count'>
  {% if q %}
    {{ page.paginator.count }} result{{ page.paginator.count|pluralize }}
    {% if group %}
    <span class='muted'>
      (Repeat the search
      <a href='{% url groups_search %}?q={{ q|urlencode }}'>across all your groups</a>)
    </span>
    {% endif %}
  {% endif %}
  {% if page.number > 1 %}
    {% include "discussion/partials/pagination.html" %}
  {% endif %}
</div>

<div class='container search-results'>
  {% for result, involved_users in results %}
    <hr>
    <div class='row-fluid'>
      <div class='span1'>
        <a href='{{ result.absolute_url }}'>
          <img
            {% if result.model_name == 'proposal' %}
              src='{{ STATIC_URL }}img/proposal_icon_64.png' alt='Proposal'
            {% elif result.model_name == 'embed' and result.type == 'dotstorm' %}
              src='{{ STATIC_URL }}img/dotstorm_icon_64.png' alt='Dotstorm'
            {% elif result.model_name == 'embed' and result.type == 'etherpad' %}
              src='{{ STATIC_URL }}img/etherpad_icon_64.png' alt='Dotstorm'
            {% endif %}
          />
        </a>
      </div>
      <div class='span11'>
        <i>{% filter title %}{% firstof result.type result.model_name %}{% endfilter %}:</i>
        <a href='{{ result.absolute_url }}'>{{ result.title }}</a>
        {% if not group %}<span class='muted'>({{ result.group_name }})</span>{% endif %}

        <div class='summary'>{% highlight result.text with q %}</div>
        <div class='people-involved' style='font-size: 80%;'>
          Participants:
          {% for user_id, involved in involved_users.items %}
            {% include "profiles/partials/icon.html" with user=involved %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% include "discussion/partials/pagination.html" %}
{% endblock %}
