{% extends "groups/base.html" %}
{% load humanize %}
{% load thumbnail %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
{% if not membership.has_joined %}
  <div class='alert alert-info'>
    Hey! You've been invited you to join this group.
    <form method='post' action='{{ membership.accept_or_decline_url }}'>{% csrf_token %}
      <div class='btn-group'>
        <input type='submit' name='decline' class='btn btn-warning' data-confirm="#confirm_decline" value='Decline invitation'>
        <input type='submit' name='accept' class='btn btn-info' value='Accept invitation'>
      </div>
    </form>
  </div>
  <div class='modal hide' id='confirm_decline'>
    <div class='modal-header'>
      <button type='button' class='close' data-dismiss='modal'>x</button>
      <h3>Decline invitation?</h3>
    </div>
    <div class='modal-body'>
      <p>You will not be able to view or participate with this group.</p>
    </div>
    <div class='modal-footer'>
      <a href='#' class='btn' data-dismiss='modal'>Cancel</a>
      <a href='#' class='btn btn-danger really-decline'
                  data-submit='1'>Decline invitation</a>
    </div>
  </div>
{% endif %}

<div class='row-fluid'>
  <div class='span8 offset2'>
    <h1 style='font-size: 300%; text-align: left;'>I want to...</h1>
  </div>
  <div class='span8 offset3'>
    <img src='{{ STATIC_URL }}img/inspire.svg' alt='Inspire, Expand, Contract, Approve, Accomplish' />
  </div>
</div>
<div class='row-fluid apps'>
  <div class='span3'>
    <h3>Mailing List</h3>
    {% if group.enable_mailing_list %}
      <a href='{% url discussion:list_threads group.pk %}'><img src='{{ STATIC_URL }}img/mailing_list_icon_64.png' /></a>
      <p>
      Email everyone to introduce new ideas, share FYI's and funny cat
      pictures, and to discuss ideas.
      </p>
      <p>
      Browse archives of your mailing list discussions here, and search for old
      messages and threads.
      </p>
      <p>
      <a href='{% url discussion:list_threads group.pk %}'><i class='icon-envelope'></i> Email List</a></p>
      

    {% else %}
      <p>Mailing lists are disabled for your group.  You can enable them in <a href='{% url groups_edit_group group.pk %}'>settings</a>.  Or, just <a href='mailto:{{ group.get_group_cc_mailto }}'>CC everyone</a>.
      </p>
    {% endif %}
  </div>
  <div class='span3'>
    <h3>Dotstorm</h3>
    <a href='{% url embeds:list group.pk %}'><img src='{{ STATIC_URL }}img/dotstorm_icon_64.png' /></a>
    <p>
    Real-time, collaborative visual brainstorming. <nobr>(<a href='#' class='modal-video' data-url='https://www.youtube-nocookie.com/embed/dj_yW2WfsEw' data-width="640" data-height="480"><i class='icon-play'></i> screencast</a>)</nobr>.
    </p>
    <p>Dotstorms are a great way to generate new ideas.</p>
    <p><a href='{% url embeds:list group.pk %}'><i class='icon-file'></i> Documents and Brainstorms</a></p>
  </div>
  <div class='span3'>
    <h3>Etherpad</h3>
    <a href='{% url embeds:list group.pk %}'><img src='{{ STATIC_URL }}img/etherpad_icon_64.png' /></a>
    <p>Real-time, collaborative document editing.  A great way to develop ideas
    and take notes together.</p>
    <p><a href='{% url embeds:list group.pk %}'><i class='icon-file'></i> Documents and Brainstorms</a></p>
  </div>
  <div class='span3'>
    <h3>Proposals</h3>
    <a href='{% url resolve_list_proposals group.pk %}'><img src='{{ STATIC_URL }}img/proposal_icon_64.png' /></a>
    <p>Once an idea is well developed, and you've started to narrow in on
    specifics, use a proposal to get the approval of the whole group.</p>
    <p><a href='{% url resolve_list_proposals group.pk %}'><i class='icon-thumbs-up'></i> Proposals</a></p>
  </div>
</div>
<div style='text-align: center; margin: 1.5em; font-size: 150%'>
  Or just <a href='{% url groups_browse_stuff group.slug %}'><i class='icon-inbox'></i> browse all of <i>{{ group.name }}</i>'s stuff</a>.
</div>
<div class='coming-soon'>
  <h2>Coming soon...</h2>
  <div class='row-fluid apps'>
    <div class='span3 offset2'>
      <h3>Minutes</h3>
      <p>Record minutes of meetings collaboratively, and keep them organized.</p>
    </div>
    <div class='span3'>
      <h3>Topics</h3>
      <p>Group mailing list threads, documents, brainstorms, and proposals under topic pages.</p>
    </div>
    <div class='span3'>
      <h3>Action Items</h3>
      <p>Nag yourself and others; keep track of TODOs and tasks.
    </div>
  </div>
</div>

{% endblock %}
{% block footjs %}
  <script type='text/javascript'>
    $(function() {
      $(".accordion").click(function() {
        $("#" + $(this).attr("data-target")).slideToggle();
        return false;
      });
    });
  </script>
{% endblock %}
      {% comment %}
      <div class='row-fluid'>
        <div class='span2'></div>
        <div class='span10'>
          <h2>
            <a href='#' class='accordion' data-target='share_something'>
              Share something with everyone! &raquo;
            </a>
          </h2>
          <div id='share_something' class='accordion-target'>
            Got a general FYI, or a something funny, insightful, or touching to
            share? Email is the way to go.
            {% if group.enable_mailing_list %}
              <p>
              Use the mailing list: <a href='mailto:{{ group.get_mailing_list_address }}'>{{ group.get_mailing_list_address }}</a>.
              </p>
              <p>Recent discussions:</p>
              <ul>
                {% for msg in recent_messages %}
                  <li><span class='date'>{{ msg.date }}</span><a href='{% url discussion:show_thread group.pk msg.pk %}'>{{ msg.subject }}</a></li>
                {% endfor %}
                <li><a href='{% url discussion:list_threads group.pk %}'><i class='icon-tasks'></i> Show all <i>{{ group.name }}</i> messages</a></li>
              </ul>
            {% else %}
              Your group mailing list is disabled &ndash; so instead, just <a href='mailto:{{ group.get_group_cc_mailto|safe }}'>email everyone</a>!
            {% endif %}
          </div>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span10 offset2'>
          <h2>
            <a href='#' class='accordion' data-target='something_new'>
              Come up with something new! &raquo;
            </a>
          </h2>
          <div id='something_new' class='accordion-target'>
            For brainstorming, consider a dotstorm:
            {% include "embeds/partials/document_list.html" with qs=group.embed_set.current.dotstorms type="dotstorm" %}
          </div>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span10 offset2'>
          <h2>
            <a href='#' class='accordion' data-target='work_on_documents'>
              Work on a document together! &raquo;
            </a>
          </h2>
          <div class='accordion-target' id='work_on_documents'>
            For wordsmithing, editing, compiling, use an etherpad.
            {% include "embeds/partials/document_list.html" with qs=group.embed_set.current.etherpads type="etherpad" %}
          </div>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span10 offset2'>
          <h2>
            <a href='#' class='accordion' data-target='approve_proposal'>
              Approve a proposal! &raquo;
            </a>
          </h2>
          <div class='accordion-target' id='approve_proposal'>
            <p>
            After you've hashed something out on the mailing list, finished a
            brainstorm, or polished a document in etherpad, you may need to
            come back to the group to approve a proposal.  This is the place to
            do that!
            </p>
            {% with proposals=group.proposal_set.current %}
              {% if proposals %}<h3>Current proposals</h3>{% endif %}
              {% include "resolve/partials/proposal_list.html"  %}
            {% endwith %}
          </div>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span10 offset2'>
          <h2>
            <a href='#' class='accordion' data-target='discuss_generally'>
              Discuss generally! &raquo;
            </a>
          </h2>
          <div class='accordion-target' id='discuss_generally'>
            For general open-ended discussion, use email.
            {% if group.enable_mailing_list %}
              <a href='mailto: {{ group.get_mailing_list_address }}'>{{ group.get_mailing_list_address }}</a>
            {% else %}
              <a href='mailto:{{ group.get_group_cc_mailto }}'>Email everyone</a>.
            {% endif %}
          </div>
        </div>
      </div>
      {% endcomment %}
