{% extends "groups/base.html" %}
{% load thumbnail %}

{% block title %}All Our Stuff{% endblock %}

{% block content %}

<h1>{{ group.name }}'s stuff</h1>

<p>
<h2>Email</h2>
Send email to the group at
<a href='mailto:{% if group.enable_mailing_list %}{{ group.get_mailing_list_address }}{% else %}{{ group.get_group_cc_mailto }}{% endif %}'>right here</a>.
</p>
{% if group.enable_mailing_list %}
  <ul>
    {% for msg in recent_messages %}
      <li><span class='date'>{{ msg.date }}</span><a href='{% url discussion:show_thread group.pk msg.pk %}'>{{ msg.subject }}</a></li>
    {% endfor %}
    <li><a href='{% url discussion:list_threads group.pk %}'><i class='icon-tasks'></i> Show all <i>{{ group.name }}</i> messages</a></li>
  </ul>
{% endif %}

<div class='row-fluid'>
  <div class='span4'>
    <h2>Etherpads</h2>
    {% include "embeds/partials/document_list.html" with qs=group.embed_set.current.etherpads type="etherpad" %}
  </div>
  <div class='span4'>
    <h2>Dotstorms</h2>
    {% include "embeds/partials/document_list.html" with qs=group.embed_set.current.dotstorms type="dotstorm" %}
  </div>
  <div class='span4'>
    <h2>Proposals</h2>
    {% with proposals=group.proposal_set.current %}
      {% if proposals %}<h3>Current proposals</h3>{% endif %}
      {% include "resolve/partials/proposal_list.html"  %}
    {% endwith %}
  </div>
</div>
{% endblock %}
