{% load compress %}
<!DOCTYPE html>
<html>
<title>InterTwinkles Authentication Frame</title>
<style type='text/css'>
  html,body { margin: 0; padding: 0; border: 0; overflow: hidden; }
</style>
<body>
<a href='#' id='signin'><img src='{{ STATIC_URL }}img/sign_in_blue.png' /></a>
<script src='https://login.persona.org/include.orig.js'></script>
{% compress js %}
<script type='text/coffeescript'>
  onmessage = (event) ->
    switch event.data?.action
      when 'intertwinkles_logout'
        navigator.id.logout()
        
  window.addEventListener('message', onmessage, false)

  document.getElementById('signin').onclick = (event) ->
    event.preventDefault()
    navigator.id.request()
    return false

  navigator.id.watch {
    onlogin: (assertion) ->
      console.log "frame onlogin"
      window.parent.postMessage {action: 'onlogin', assertion: assertion}, '*'
    onlogout: ->
      console.log "frame onlogout"
      window.parent.postMessage {action: 'onlogout'}, '*'
  }
</script>
{% endcompress %}
</body>
</html>
