{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
{% for field in form.visible_fields %}
<div class='control-group {% if field.errors %}error{% endif %}'>
    <label class='control-label' for='{{ field.auto_id }}'>{{ field.label }}</label>
    <div class='controls'>
        {{ field }}
        <span class='help-inline'>{{ field.errors }}{{ field.help_text }}</span>
    </div>
</div>
{% endfor %}
