
<div class='control-group'>
    <label class='control-label'></label>
    <div class='controls'>
      <input type='submit'
             class='{% firstof submit_class "btn btn-primary" %}'
             value='{% firstof submit_text "Save" %}' />
    </div>
</div>

