{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
{% for field in form.visible_fields %}
<tr class='control-group {% if field.errors %}error{% endif %}'>
    <th class='control-label' for='{{ field.auto_id }}'>{{ field.label }}</th>
    <td class='controls'>
        {{ field }}
        <span class='help-inline'>{{ field.errors }}{{ field.help_text }}</span>
    </td>
</tr>
{% endfor %}
