{% load short_urls %}
<a class='notice' href='{% filter shorten %}{{ object.get_absolute_url }}?notice_id={{ notice.pk }}{% endfilter %}'>
  <span class='who'>
    {% include "profiles/partials/inline.html" with user=sender %}
  </span>
  <span class='what'>
    twinkled your post.
  </span>
</a>
