{% load short_urls %}
<a class='notice' href='{% filter shorten %}{{ revision.get_absolute_url }}?notice_id={{ notice.pk }}{% endfilter %}'>
  <span class='who'>
    {% include "profiles/partials/inline.html" with user=sender %}
  </span>
  <span class='what'>
    {% if revision.is_first_revision %}created{% else %}modified{% endif %} a proposal.
  </span>
</a>
