{% if user %}
{% with p=user.get_profile %}
    {% if p %}
        <span class='person-inline' title='{{ user.email }}' rel='tooltip'>{{ p.format_tiny_icon }}{{p.name}}</span>
    {% else %}
        <span class='person-inline unknown'>{{ user.email }}</span>
    {% endif %}
{% endwith %}
{% endif %}

