{% if user %}
{% with p=user.get_profile %}
    <div class='person'>
      {% if p %}
      <table>
        <tr>
          <td><div class='icon'>{{ p.format_small_icon }}</div></td>
          <td>
            <div class='details'>
                  <div class='name'>{{ p.name }}</div>
                  <div class='email'>{{ user.email }}</div>
            </div>
          </td>
        </tr>
      </table>
      {% else %}
        <i>{{ user.email }}</i>
      {% endif %}
      <input type='hidden' name='email' value='{{ user.email }}' />
      <div style='clear: both;'></div>
    </div>
{% endwith %}
{% endif %}
