{% load short_urls %}
<a class='notice' href='{% filter shorten %}{% url groups_show_group membership.group.slug %}?notice_id={{ notice.pk }}{% endfilter %}'>
  <span class='who'>
    {% include "profiles/partials/inline.html" with user=sender %}
  </span>
  <span class='what'>
    invited you to join {{ membership.group.name }}.
  </span>

You're invited you to join {{ membership.group.name }}!
<a class='notice' href='{% filter shorten %}{{ object.get_absolute_url }}?notice_id={{ notice.pk }}{% endfilter %}'>
  <span class='who'>
    {% include "profiles/partials/inline.html" with user=sender %}
  </span>
  <span class='what'>
    twinkled your post.
  </span>
</a>
