{% load compress %}
{% load thumbnail %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if notice_unseen_count > 0 %}({{ total_message_count }}) {% endif %}{{ _("InterTwinkles") }} : {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">
  <meta name="viewport" content="width=device-width">

  {% compress css %}
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/mybootstrap.less">
  <link type='text/css' rel='stylesheet' href='{{ STATIC_URL }}profiles/select2-2.1/select2.css'>
  <link type='text/css' rel='stylesheet' href="{{ STATIC_URL }}js/libs/jqplot/jquery.jqplot.css">
  <link type='text/css' rel='stylesheet' href='{{ STATIC_URL }}profiles/iconchooser.css'>
  <link type="text/x-stylus" rel="stylesheet" href="{{ STATIC_URL }}css/style.styl">

  {% endcompress %}

  {% compress css %}
      {% block css %}{% endblock %}
  {% endcompress %}
  <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class='wrapper'>
  <header>
    <div class='navbar navbar-top nav'>
      <div class='navbar-inner'>
        <div class='container-fluid'>
          <a class='brand' href='/'>
            Inter<span class='intertwinkles'>Twinkles</span>
            <span class='label' style='font-size: 50%;'>BETA</span>
          </a>
          
          <div class="btn-group pull-right">
            {% if user.is_authenticated %}
              
              <a class='btn user-menu dropdown-toggle'
                 href='#'
                 data-toggle='dropdown'>
                {% if user.profile %}
                  {{ user.profile.format_small_icon }} {{ user.profile.name }}
                {% else %}
                  <i class='icon-user'></i> {{ user.email }}
                {% endif %}
                <span class='caret'></span>
              </a>
              <ul class='dropdown-menu'>
                <li><a href='{% url profiles_edit_profile %}'>Settings</a></li>
                <li class='divider'></li>
                <li><a href='{% url profiles_signout %}'>Sign Out</a></li>
              </ul>
            {% else %}
              {% if not login_page %}
                <a id='browserid' href='#'>
                  <img src='{{ STATIC_URL }}img/sign_in_blue.png'
                       alt='Sign in'>
                </a>
              {% endif %}
              <form method='post'
                    action='{% url browserid_verify %}{% if next %}?{{ REDIRECT_FIELD_NAME }}={{ next }}{% endif %}'
                    style='display: none;'>
                {% csrf_token %}
                {{ browserid_form.as_p }}
              </form>
            {% endif %}
          </div>
          <div>
            <ul class='nav'>
              {% if user.is_authenticated %}

                <li class='dropdown' id='messages_menu'>
                  {% url notification_notices as messages_url %}
                  <a href='#messages_menu'
                      class='dropdown-toggle'
                      data-toggle='dropdown'>
                    {% if total_message_count > 0 %}
                      <span class='badge badge-important'>{{ total_message_count }}</span>
                    {% endif %}
                    Notifications <i class='caret'></i></a>
                  <ul class='dropdown-menu'>
                    {% if total_message_count == 0 %}
                    <li>
                      <a>
                        No messages{% if not has_old_notices %} yet{% endif %}.  Kitten:
                        <img src='http://placekitten.com/g/150/150' alt='kitten' />
                      </a>
                    </li>
                    {% endif %}
                    {% for membership in groups_to_join %}
                      <li class='new'>
                        <a href='{{ membership.group.get_absolute_url }}'>
                          <span class='label'>Invitation</span> to join <i>{{ membership.group.name }}</i>
                        </a>
                      </li>
                    {% endfor %}
                    {% for proposal in proposals_requiring_response %}
                      <li class='new'>
                        <a href='{{ proposal.get_absolute_url }}'>
                          <span class='label'>Please respond</span> {{ proposal.current_revision.text|truncatewords:"5" }}
                          <i>({{ proposal.group.name }})</i>
                        </a>
                      </li>
                    {% endfor %}
                    {% if notices %}
                      <li class='divider'></li>
                    {% endif %}
                    {% for notice in notices %}
                      {% with type=notice.notice_type.label %}
                        {% if type == "resolve_twinkles" %}
                          <li {% if notice.unseen %}class='new'{% endif %}>
                            {{ notice.message|safe }}
                          </li>
                        {% else %}
                          <li>Server error</li>
                        {% endif %}
                      {% endwith %}
                    {% endfor %}
                    {% if has_old_notices %}
                      <li class='divider'></li>
                      <li style='text-align: right; font-style: italic;'><a href='{% url notification_notices %}'>Old notices</a></li>
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
              {% block searchform %}
                <li class='search-form'>{% include "groups/partials/search_form.html" %}</li>
              {% endblock %}
            </ul>
          </div>
        </div>
      </div>
      <div class='subnav'>
        {% block subnav %}{% endblock %}
        <div style='clear: both;'></div>
      </div>
    </div>
    {% for message in messages %}
        <div class="messages">
            <div class="alert alert-block {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message }}
            </div>
        </div>
    {% endfor %}
  </header>

  <div role="main" class="container-fluid">{% block content %}{% endblock %}</div>
  <div class='push'></div>
</div> <!-- end wrapper -->


  <footer class='footer'>
    <div class='bg'>
      <img src='{{ STATIC_URL }}img/coop-world.png' alt='Flavor image' />
    </div>
    <div class='container-fluid'>
      <div class='ramp'></div>
      <div class='footer-content'>
        <div class='row-fluid'>
          <div class='span4 about-links'>
            <h2>About</h2>
            <ul>
              <li><a href='{% url about:about %}'>About</a><small>: Free software revolutionary research</small></li>
              <li><a href='{% url about:terms %}'>Terms of Use</a><small>: Play nice</small></li>
              <li><a href='{% url about:privacy %}'>Privacy Policy</a><small>: You own it</small></li>
              <li><a href='http://bitbucket.org/yourcelf/intertwinkles/'>Source Code</a><small>: Run your own!</small></li>
            </ul>
          </div>
          <div class='span4 community'>
            <h2>Community</h2>
            <ul>
              <li><a href="http://lists.byconsens.us/mailman/listinfo/design">Codesign mailing list</a></li>
              <li><a href="http://project.byconsens.us/">Project tracker</a></li>
              <li><a href="{% url about:related %}">Related projects</a></li>
            </ul>
          </div>
          <div class='span4 sponsors'>
            <h2>Supported by</h2>
            <a href="http://civic.mit.edu">
              <img alt="The MIT Center for Civic Media" src='{{ STATIC_URL }}img/C4CM.png'>
            </a>
            and
            <a href="http://media.mit.edu/speech">
              <img alt="The Speech + Mobility Group" src="{{ STATIC_URL }}img/S_M.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>


  {% compress js %}
  {# jquery #}
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquerypp.custom.js"></script>
  <script type='text/javascript' src="{{ STATIC_URL }}js/csrf.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-affix.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/underscore.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/underscore-template-autoescape.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/backbone.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/plugins.js"></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/libs/date.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}profiles/select2-2.1/select2.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}browserid/include.js'></script>

  <script type='text/coffeescript' src="{{ STATIC_URL }}js/script.coffee"></script>
  <script type='text/coffeescript' src='{{ STATIC_URL }}profiles/color_to_color.coffee'></script>
  <script type='text/coffeescript' src='{{ STATIC_URL }}groups/membership.coffee'></script>
  <script type='text/coffeescript' src='{{ STATIC_URL }}timelines/timeline.coffee'></script>
  <script type='text/coffeescript' src='{{ STATIC_URL }}resolve/twinkles.coffee'></script>
  <script type='text/coffeescript' src='{{ STATIC_URL }}resolve/proposal.coffee'></script>
  {% endcompress %}
  {% if suppress_browserid %}
    <script type='text/javascript'>navigator.id.logout();</script>
  {% endif %}
  {% block browserid_script %}
    {% if not user.is_authenticated %}
      <script type='text/javascript' src='{{ STATIC_URL }}browserid/browserid.js'></script>
    {% endif %}
  {% endblock %}
  {% compress js %}
      {% block footjs %}{% endblock %}
  {% endcompress %}
{% endblock %}
{% if USERVOICE_ENABLE and user.is_authenticated %}
  {% load uservoice %}
  {% uservoice %}
{% endif %}
</body>
</html>
