{% extends "base.html" %}
{% block title %}Edit Opinion{% endblock %}

{% block body %}

<div class='row-fluid'>
    <div class='span4'></div>
    <div class='span4 well'>
      <h2>Proposal:</h2>
      <blockquote>{{ revision.text|urlizetrunc:40|linebreaks }}</blockquote>
    </div>
    <div class='span4'></div>
</div>
<div class='row-fluid'>
    <div class='span3'></div>
    <div class='span6'>
        <h2 style='text-align: center;'>Your view:</h2>
        <form class='form-horizontal' method='post' action=''>{% csrf_token %}
            {% include "partials/bootstrap_form.html" with form=form %}
            {% include "partials/bootstrap_submit.html" with submit_text="Weigh in" %}
        </form>
    </div>
    <div class='span3'></div>
</div>

{% endblock %}
