{% extends "base.html" %}
{% block title %}
  {% if proposal.pk %}Edit proposal{% else %}Add proposal{% endif %}
{% endblock %}

{% block content %}

  <style type='text/css'>
    form textarea {
      width: 400px;
    }
  </style>

  <h1>Proposal for <i>{{ group.name }}</i></h1>
  <div class='centered-block'>
    <p>Tips:
      <ul>
        <li>Be specific.</li>
        <li>This is the place for <b>finalizing</b>, not discussion.  If you're not sure about the details, talk it over the mailing list first.</li>
        <li>
            Proposals are a <i>demand for response</i>. If you don't need
            everyone to weigh in, post an FYI to the mailing list instead.
        </li>
        <li>If this is time sensitive, put a realistic deadline in.  Give everyone a chance to respond.</li>
      </ul>
    </p>
    {% if proposal.opinion_set.all.exists %}
    <div class='alert alert-warning'>
      Others have responded to this proposal already &ndash; if you modify it,
      they will have to reconfirm.
      <b>Please only proceed if your changes are substantial.</b>
    </div>
    {% endif %}
  </div>

  <form class='form-horizontal' method='post' action=''>{% csrf_token %}
    {% include "partials/bootstrap_form.html" with form=revision_form %}
    {% include "partials/bootstrap_form.html" with form=proposal_form %}
    {% include "partials/bootstrap_submit.html" with submit_text="Save proposal" %}
  </form>

{% endblock %}

{% block footjs %}
{{ revision_form.media }}
{{ proposal_form.media }}
{% endblock %}
