{% extends "groups/base.html" %}

{% block title %}Proposals{% endblock %}

{% block content %}
<h1>Proposals</h1>

<div class='row-fluid'>
  <div class='span6'>
    <h2 class='cursive'>Current</h2>
    <a class='btn' href='{% url resolve_add_proposal group.pk %}'>New proposal</a>
    <ul>
      {% for proposal in current %}
      <li>
        <span class='date'>{{ proposal.created }}</span>
        <a href='{{ proposal.get_absolute_url }}'>{{ proposal.current_revision.text|truncatewords:10 }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class='span6'>
    <h2 class='cursive'>Finished</h2>
    <ul>
      {% for proposal in finished %}
      <li>
        {% if proposal.approved %}
          <span class='label label-success'>Passed</span>
        {% else %}
          <span class='label'>Failed</span>
        {% endif %}
        <span class='date'>{{ proposal.created }}</span>
        <a href='{{ proposal.get_absolute_url }}'>{{ proposal.current_revision.text|truncatewords:10 }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
