{% extends "groups/base.html" %}
{% load humanize %}
{% load thumbnail %}
{% block title %}{{ revision.text|truncatewords:"10" }}{% endblock %}

{% block content %}
<h1>Proposal</h1>

<div class='row-fluid'>
  {% if not proposal.resolved %}
    {% if not opinion %}
      <div class='alert alert-info'>
        You haven't yet responded to this proposal. {% if membership.voting %}<b>Your participation is needed.</b>{% else %}Your response is optional.{% endif %}
        <a href='{% url resolve_edit_opinion proposal.pk %}' class='btn btn-large btn-primary'>Respond</a>
      </div>
    {% elif opinion.created < revision.created %}
      <div class='alert alert-warning' style='max-width: 40em; margin-left: auto; margin-right: auto;'>
        The proposal has changed since you last weighed in.  <b>Do you feel the same?</b>  You said:
        <div>
          <i>{{ opinion.get_choice_display }}</i>
          <blockquote>
            {{ opinion.text|urlizetrunc:"40"|linebreaks }}
          </blockquote>
        </div>
        <form class='form-inline'
              method='post'
              action='{% url resolve_confirm_opinion proposal.pk %}'>{% csrf_token %}
          <input type='submit' value='No change.' class='btn btn-success' /> 
          {% if membership.has_joined %}
            <a href='{% url resolve_edit_opinion proposal.pk %}'
               class='btn btn-warning'>Edit response.</a>
          {% endif %}
        </form>
      </div>
    {% else %}
    {% endif %}
  {% endif %}
</div>


<div class='row-fluid'>
  <div class='span6 proposal green-glow' style='position: relative;'>
      <blockquote>
      {{ revision.text|urlizetrunc:40|linebreaks }}
      </blockquote>
      <div class='byline' style='float: right;'>
        <div>
          added <span class='date'>{{ proposal.created|naturalday }}</span> by 
          {% include "profiles/partials/inline.html" with user=proposal.author %}
        </div>
        {% if revision.created != proposal.created %}
          <div>
            last revised <span class='date'>{{ revision.created|naturalday }}</span> by 
            {% include "profiles/partials/inline.html" with user=revision.author %}
          </div>
        {% endif %}
        <div style='text-align: right;'>
          <a rel='twinkles' href="#"
            class='twinkles'
            style='float: left;'
            data-object-id='{{ proposal.pk }}'
            data-placement='right'
            data-proposal-id='{{ proposal.pk }}'
            data-twinkle-type='Proposal'
            data-user-id='{{ user.pk }}'></a>
          {% if not proposal.resolved and membership.has_joined %}
            <a href='{% url resolve_edit_proposal proposal.pk %}' class='btn'>
              <i class='icon-pencil'></i> Edit
            </a> 
          {% endif %}
        </div>
      </div>
      <div style='clear: both;'></div>
  </div>
  <div class='span6'>
    <form class='form-inline' style='float: right;' method='post' id='finalize_proposal'
          action='{% url resolve_proposal_toggle_finished proposal.pk %}'>{% csrf_token %}
      <input type='hidden' name='approved' />
      <input type='submit' class='btn btn-success'
             data-confirm='#confirm_finalize'
             value='{% if proposal.resolved %}Re-open{% else %}Finalize{% endif %}' />
    </form>
    <div id='confirm_finalize' class='modal hide'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>x</button>
        <h3>
          {% if proposal.resolved %}
            Re-open this proposal?
          {% else %}
            Close this proposal?
          {% endif %}
        </h3>
      </div>
      <div class='modal-body'>
        <p>
          {% if proposal.resolved %}
            This proposal will be available for edits and responses.
          {% else %}
            The proposal will be archived, and no new responses will be accepted.
            <br />
          {% endif %}
        </p>
      </div>
      <div class='modal-footer'>
        <a href='#' class='btn' data-dismiss='modal'>Cancel</a>
        {% if proposal.resolved %}
          <a href='#' class='btn btn-info' data-submit='1'>Re-open</a>
        {% else %}
          Close proposal:
          <a href='#' class='btn btn-danger' id='proposal_failed'>Proposal failed</a>
          <a href='#' class='btn btn-success' id='proposal_passed'>Proposal passed</a>
        {% endif %}
      </div>
    </div>
    {% if proposal.deadline %}
    <div>
      <i>Deadline {{ proposal.deadline|date:"D N j, P" }}</i>
      {% if proposal.resolved %}
        <div class='resolved'>
          Closed {{ proposal.resolved|date:"D N j, P" }}
          {% if proposal.approved %}Approved{% else %}Did not pass{% endif %}.
        </div>
      {% endif %}
    </div>
    {% endif %}
    <h3>Response totals:</h3>
    <div class='opinion-summary'></div>
  </div>
</div>


<div class='row-fluid'>
  <div class='span-9'>
    <div class='container'>
      <div class='row-fluid'>
        <div class='span10'>
          <i>Activity timeline:</i>
          <div class='timeline'></div>
        </div>
        <div class='span2'></div>
      </div>
    </div>
  </div>
  <div class='span-3'></div>
</div>

<!-- <div class='row-fluid'> <h2>Q&A</h2> </div> -->

<!-- Opinions -->
<h2>Responses</h2>
{% for opinion in current_opinions %}
  {% if forloop.counter0|divisibleby:"3" %}{% if not forloop.first %}</div>{% endif %}
<div class='row-fluid'>
  {% endif %}

  <div class='span4'>
    <div class='opinion{% if opinion.created < revision.created %} stale{% endif %}{% if opinion.user == user %}{% endif %}'
         data-date='{{ opinion.created|date:"c" }}'
         data-user-id='{{ opinion.user.id }}'>
      {% if opinion.created < revision.created %}
        <div class='alert alert-warning stale-notice'>
          The proposal has changed since this opinion was recorded.
        </div>
      {% endif %}
      {% if not opinion.get_membership.voting %}
        <div class='alert alert-info'>This member is non-voting.</div>
      {% endif %}

    
      {% include "profiles/partials/inline.html" with user=opinion.user %}
      <span class='choice opinion-choice-{{ opinion.choice }}'>
        {{ opinion.get_choice_display }}
      </span><br />
      {{ opinion.text|urlizetrunc:"40"|linebreaks }}
      <div style='text-align: right;'>
        {% if opinion.user == user and not proposal.resolved %}
          <a href='{% url resolve_edit_opinion proposal.pk %}'>
              <i class='icon-pencil'></i> Edit
          </a>
        {% endif %}
        <span class='date'>{{ opinion.created|date:"D N j, P" }}</span>
        <a rel='twinkles' href="#"
          style='display: inline-block;'
          class='twinkles'
          data-proposal-id='{{ proposal.pk }}'
          data-object-id='{{ opinion.pk }}'
          data-twinkle-type='Opinion'
          data-user-id='{{ user.pk }}'></a>
      </div>
    </div>
  </div> 
{% endfor %}
</div>
  
<script type='text/javascript'>
  var timelineData = {{ timeline_data|safe }};
  var opinionData = {{ opinion_data|safe }};
  var peopleData = {{ people_data|safe }};
  var memberRoles = {{ member_data|safe }};
  var lastRevisedDate = new Date("{{ revision.created|date:"r" }}");
</script>
{% endblock %}
{% block footjs %}
  <script type='text/coffeescript'>
    form = $("#finalize_proposal")
    $("#proposal_failed").click ->
      $("[name=approved]", form).val("0")
      form.submit()
      return false
    $("#proposal_passed").click ->
      $("[name=approved]", form).val("1")
      form.submit()
      return false


    # Timeline
    timeline = it.build_timeline(".timeline", timelineData, peopleData)
    people = timeline.people

    # Opinion summary
    opinions = new it.OpinionCollection()
    for entry in opinionData
      entry.created = new Date(entry.created)
      opinions.add new it.Opinion(entry)
    summary = new it.OpinionSummaryView({
      collection: opinions
      people: people
      memberRoles: memberRoles
      lastRevisedDate: lastRevisedDate
    })
    $(".opinion-summary").html(summary.el)
    summary.render()

    # Twinkles
    twinkles = new it.TwinkleCollection()
    for obj in timelineData
      if obj.data.type == 'twinkle'
        twinkles.add(new it.Twinkle(obj))

    $("[rel=twinkles]").each (i, el) ->
      $el = $(el)
      twink = new it.TwinkleView({
        twinkles: twinkles
        people: people
        twinkle_type: $el.attr("data-twinkle-type")
        user_id: parseInt($el.attr("data-user-id"))
        object_id: parseInt($el.attr("data-object-id"))
        proposal_id: parseInt($el.attr("data-proposal-id"))
      })
      $(el).html(twink.el)
      twink.render()

  </script>
{% endblock %}
{# vim: set ts=2 sw=2 : #}
