{% load humanize %}


<table class='table' style='margin-top: 1em;'>
  {% for embed in qs %}
  <tr>
    <td class='date'>{{ embed.created|naturalday }}</td>
    <td><a href='{{ embed.get_absolute_url }}'>
        {{ embed.name }}
      </a>
    </td>
    <td>{{ embed.get_type_display }}</td>
  </tr>
  {% endfor %}
</table>
{% if membership.has_joined %}
  <form method='post' action='{% url embeds:new group.pk %}'>{% csrf_token %}
    <input type='hidden' name='type' value='{{ type }}'/>
    <div class='input-append'>
      <input type='text' placeholder='Name' name='name' /><input type='submit' value='New {{ type }}' class='btn' />
    </div>
  </form>
{% endif %}
