{% if membership.invitation_accepted %}

{{ membership.user.profile }} accepted your invitation to join <a href='{{ membership.group.get_absolute_url }}'>{{ membership.group.name }}</a>.

{% else %}

{{ membership.user.email }} declined your invitation to join <a href='{{ membership.group.get_absolute_url }}'>{{ membership.group.name }}</a>.

{% endif %}
