{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About Inter<span class='intertwinkles'>Twinkles</span></h1>
<div class='row-fluid'>
  <div class='span6 offset3'>
    <p>
    Communication works differently online.  So it's no surprise that for
    groups that try to do democratic decision making online, things can get a
    little strained.  People have to learn to speak in different ways, and to
    come up with different strategies for reaching understanding.  It takes
    more than just a forum plus voting for people to actually understand
    each other.
    </p>
    <p>
    Inter<span class='intertwinkles'>Twinkles</span> is a research project
    and platform for developing tools to help reach the type of deep
    understanding that is necessary for
    <a href='https://en.wikipedia.org/wiki/Consensus_decision-making'>consensus decision making</a>.
    Voting and proposals are part of this &ndash; but only the easiest part. :)
    The real challenge is getting diverse groups of people with varying degrees
    of computer literacy and access, varying communciation styles, and varying
    experience on the same page.
    </p>
    <p>
    This project is also
    <a href='http://media.mit.edu/~cfd/'>my dissertation work</a> at the MIT Media Lab.
    If you're interested in this topic and would like to get involved,
    <a href='mailto:cfd@media.mit.edu'>drop me a line</a>!
    </p>
    <p style='text-align: center'>
      <a href='#' class='modal-video' data-url='https://www.youtube-nocookie.com/embed/6YBWrcTsMl0' data-width="640" data-height="360"><i class='icon-play'></i> 5 Minute Talk about InterTwinkles</a>
    </p>
    <p>
    Some ideals we are striving for with InterTwinkles include:
    <ul>
      <li><span class=''>Free software</span>: All the source code is
      open source, and easy for developers to appropriate.</li>
      <li><span class=''>Codesign</span>: Design process includes end
      users from the earliest stages through to the end.</li>
      <li><span class=''>Value-driven</span>: it is not
      possible for technology to be value-neutral.  We therefore strive to embed
      technologies with pro-social and progressive values: inclusion, democracy,
      flat hierarchies, a concern for relationship, and a recognition of different
      communication and cognition styles.</li>
    </ul>
    </p>
  </div>
</div>

{% endblock %}
