{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>
<div class='row-fluid'>
  <div class='span6 offset3'>
    <p>... check back soon ...</p>
  </div>
</div>
{% endblock %}

