{% extends "base.html" %}

{% block title %}Related Work{% endblock %}

{% block content %}
<h1>Related Work</h1>
<div class='row-fluid'>
  <div class='span6 offset3'>
    <p>Inter<span class='intertwinkles'>Twinkles</span> is far from the only game in town &ndash; online democracy is a <span class='intertwinkles'>hot</span> topic right now. <span class='label label-important'>&laquo; Awesome</label>
    </p>
    <p>Here is a growing collection of related work we've come across that you might enjoy:</p>
  </div>
</div>
<div class='row'>
  <div class='span2'></div>
  <div class='span10'>
    <iframe src='https://pad.tirl.org:444/ro/r.BBnvWFToTLMj5R7P?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false' width="760px" height="2500px" frameborder=0></iframe>
  </div>
</div>
{% endblock %}


