{% extends "base.html" %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
<h1>Terms of Use</h1>
<div class='row-fluid'>
  <div class='span6 offset3'>
    <p>... check back soon ...</p>
  </div>
</div>
{% endblock %}
