{% extends "groups/base.html" %}
{% load humanize %}
{% block title %}{{ group.name }} Documents{% endblock %}

{% block content %}
<h1>Documents and Brainstorms</h1>

<a class='btn btn-primary' href='{% url embeds:new group.pk %}'>New document or brainstorm</a>

<table class='table'>
{% for embed in embeds.object_list %}
  <tr>
    <td class='date'>{{ embed.created|naturalday }}</td>
    <td><a href='{{ embed.get_absolute_url }}'>{{ embed.name }}</a></td>
    <td>{{ embed.type }}</td>
  </tr>
{% empty %}
  <tr><td>No documents yet.</td></tr>
{% endfor %}
</table>

{% endblock %}
