{% extends "groups/base.html" %}
{% load humanize %}
{% block title %}{{ group.name }} New document or brainstorm{% endblock %}

{% block content %}
<h1>New Document or Brainstorm</h1>

<form class='form-horizontal' method='post' action=''>{% csrf_token %}
  {% include "partials/bootstrap_form.html" with form=form %}
  {% include "partials/bootstrap_submit.html" with submit_text="Create document" %}
</form>

{% endblock %}

