{% extends "groups/base.html" %}
{% load humanize %}
{% block title %}{{ embed.name }} - {{ group.name }}{% endblock %}

{% block content %}
<div class='row-fluid'>
  <div class='timeline'></div>
</div>
<div class='row-fluid'>
  <div class='span12' style='position: relative;'>
    <iframe width=600 height=400
      {% if embed.type == "etherpad" %}
        src='{{embed.url }}?showLineNumbers=false&userName={{ user.profile.name|urlencode }}&alwaysShowChat=true&userColor=%23{{ user.profile.icon_color|urlencode }}'
      {% elif embed.type == "dotstorm" %}
        src='{{embed.url}}/?hideHome=true&hideLinks=true&userName={{ user.profile.name|urlencode }}&userNameReadOnly=true'
      {% endif %}
      ></iframe>
  </div>
</div>
{% endblock %}

{% block footjs %}
  <script type='text/javascript' src='{{ STATIC_URL }}js/libs/date.js'></script>
  <script type='text/coffeescript' src='{{ STATIC_URL }}groups/membership.coffee'></script>
  <script type='text/coffeescript' src='{{ STATIC_URL }}timelines/timeline.coffee'></script>
  <script type='text/coffeescript' src='{{ STATIC_URL }}resolve/twinkles.coffee'></script>
  <script type='text/javascript'>
    function resize() {
      var window_height = $(window).height();
      var window_width = $(window).width();
      var iframe_offset = $("iframe").offset()
      $("iframe").css({
        border: "none",
        "margin-left": -iframe_offset.left + "px",
        width: (window_width - iframe_offset.left) + "px",
        height: (window_height - iframe_offset.top - 8) + "px"
      });
    }
    resize();
    $(window).on("resize", resize);
    it.build_timeline(".timeline", {{ timelineData|safe }}, {{ peopleData|safe }});

    var mark_for_reindex = function(async) {
      $.ajax({
        url: "{% url embeds:touch embed.pk %}",
        error: function() {
          console.error("error");
        },
        type: 'POST',
        async: async !== false
      })
    };
    window.setInterval(mark_for_reindex, 60 * 1000 * 5); // every 5 minutes
    $(window).on("unload", function() {
      // mark the modification time for this embed, so we can re-index it
      mark_for_reindex(false);
    });
  </script>
{% endblock %}
