{% load smart_page_range %}

<div class='pagination pagination-centered'>
  {% if page.paginator.num_pages > 1 %}
  <ul>
    {% if page.has_previous %}
      <li><a href='?page={{ page.previous_page_number }}{{ querystr }}' title='previous'>&laquo;</a></li>
    {% endif %}

    {% for num in page|smart_page_range %}
      <li {% if num == page.number %} class='active' {% endif %}>
        <a href='?page={{ num }}{{ querystr }}'>{{ num }}</a>
      </li>
    {% endfor %}

    {% if page.has_next %}
      <li><a href='?page={{ page.next_page_number }}{{ querystr }}' title='next'>&raquo;</a></li>
    {% endif %}
  </ul>
  {% endif %}
</div>
