  <div style='text-align: center;'>
    <div>
      <a href='{% url discussion:list_threads group.pk %}'><i class='icon-tasks'></i> Show all <i>{{ group.name }}</i> messages</a>
    </div>
    {% if prev_msgs.0 %}
      <a href='{% url discussion:show_thread group.pk prev_msgs.0.pk %}' class='thread-nav left'>&laquo; {{ prev_msgs.0.subject|truncatewords:"5" }}</a> <i>({{prev_msgs.0.sender}})</i>
    {% endif %}
    |
    {% if next_msgs.0 %}
      <i>({{ next_msgs.0.sender }})</i> <a href='{% url discussion:show_thread group.pk next_msgs.0.pk %}' class='thread-nav right'>{{ next_msgs.0.subject|truncatewords:"5" }} &raquo;</a>
    {% endif %}
  </div>
