@import 'nib'
@import '../fonts/IndieFlower.css'

/*
  Utilities
*/

green-glow()
  background-color: rgba(255, 255, 255, 0.4)
  box-shadow: 0 0 25px 0 rgba(#ddd, 0.8), 0 0 5px 1px rgba(#eee, 0.8) inset
  border-radius: 3px 5px 7px 9px / 24px 26px 28px 20px
  transition-property: box-shadow
  transition-duration: 1s
  &:hover
    box-shadow: 0 0 25px 0 rgba(#ddd, 0.8), 0 0 5px 1px rgba(#fed, 0.8) inset
  padding: 1em;

.green-glow
  green-glow()

.subtle
  color: #aaa

cursive-font()
  font-family: "Indie Flower", sans-serif

/*
  Basic styles
*/

body
  background: url("../img/whitegrain.png") repeat
  min-width: 240px
  color: #210700
  line-height: 1.5em

a
  //transition-property: color
  //transition-duration: 1s
  &:hover
    text-decoration: none
a:visited
  color: #0af
a.btn, a.btn:visited, .dropdown-menu a:visited
  color: inherit
  &.btn-primary, &.btn-info, &.btn-success, &.btn-warning, &.btn-danger, &.btn-inverse
    color: white

a.twinkles, a.twinkles:visited
  color: #ddd

:-moz-placeholder
  color: #bbb !important
::-webkit-input-placeholder
  color: #bbb !important

it-color = #ff0287
.intertwinkles
  color: it-color
  &.twunkled
    position: relative
  &.twunkled
    span
      pointer-events: none
      position: relative
      top: 0
      transition-property: top
      transition-duration: 100ms
    span.bump
      top: -5px
      

/*
 Components
*/

.dropdown-menu
  .new
    background-color: #ffe

.user-menu
  background-image: none
  transform: rotate(2deg)

div.centered-block
  max-width: 40em
  margin-left: auto
  margin-right: auto

.breadcrumbs, .inline-list
  li
    list-style-type: none
    float: left
    margin-right: 0.5em

.apps
  img
    float: left
    margin-right: 0.5em
    margin-bottom: 0.5em
.coming-soon
  color: #999
  font-style: italic

.messages
  max-width: 40em
  margin-left: auto
  margin-right: auto

.navbar-top .navbar-inner
  box-shadow: 0 1px 3px rgba(200, 200, 200, 0.25), -1px 0 rgba(200, 200, 200, 0.1) inset
.subnav .navbar-inner
  background-color: #fafafa
  background-image: linear-gradient(center top, #fff, #f2f2f2)
  #group_menu .group-name
    cursive-font()
    font-size: 200%
.affix
  position: fixed
  top: 0px
  left: 0px

.person
  display: inline-block
  vertical-align: middle
  line-height: 1em
  padding: 0.5em
  .icon
    float: left
  .details
    float: left
  .email
    font-size: 60%

.person-inline
  &.unknown
    font-style: italic

.membership
  display: inline-block
  vertical-align: middle
  border: 1px solid transparent 
  &:hover
    border: 1px solid #ddd
  .icon
    float: left
    margin-right: 5px
  .details
    float: left
  .role
    font-size: 70%

.member-list
  ul
    margin-left: 0px
  li
    list-style-type: none
    &:before
      content: "☙"

table.form
  margin-bottom: 20px
  width: 100%
  th
    font-weight: bold
  th, td
    border-top: 1px solid #DDDDDD
    line-height: 20px
    padding: 8px
    text-align: left
    vertical-align: top

table.plain
  margin: none
  padding: none
  border: none
  th, td
    border: none
    line-height: 1em
    padding: none

.notifications
  tr.notice
    border-top: 1px solid #ddd
    border-bottom: 1px solid #ddd
  .unseen
    background-color: #ffe
  .message
    width: 80%

.date
  color: #aaa
  text-transform: uppercase
  font-size: smaller
  font-family: sans-serif;

table.invitations
  form
    margin: 0
  table tr
    border-top: 0px
  td
    vertical-align: middle
    text-align: center
  tr
    border-top: 1px solid #ddd

ul.bare
  margin-left: 0
  li
    list-style-type: none
    margin-left: 0

input.loading
  background-image: url("../../img/spinner.gif")
  background-repeat: no-repeat
  background-position: 100% 100%

form.inline
  display: inline-block
.timezone-chooser
  min-width: 400px

.opinion-summary
  th
    white-space: nowrap
    text-align: right
    font-weight: normal
    padding-right: 0.5em
  th,td
    padding-bottom: 0.5em
  .bar-set
    width: 100%
    .bar
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      -ms-box-sizing: border-box
      box-sizing: border-box
      border: 1px solid #eee
      float: left
      &.non-voting
        background-color: #999
        color: white
      &.stale
        opacity: 0.5
    &.choice-5 .bar
      background-color: #0c0
    &.choice-4 .bar
      background-color: #396
    &.choice-3 .bar
      background-color: #ffa
    &.choice-2 .bar
      background-color: #faa
    &.choice-1 .bar
      background-color: #f00
      color: white
    &.choice-0 .bar
      background-color: #999
      color: white
    &.choice--1 .bar
      background-color: white
      border: 1px solid #eee
 
.timeline
  .opinion
    background-color: transparent
  .row-fluid.ProposalRevision
    height: 0px
    overflow: hidden
    .points
      overflow: visible
  .ruled
    border-top: 1px solid #ddd
  font-size: 12px
  a
   position: absolute
   background-repeat: no-repeat
   top: 0.5em
   width: 16px
   height: 16px
   &.proposal_revision
     top: 0
     width: 6px
     height: 100%
     z-index: 1
     background-color: rgba(255, 2, 45, 0.2)
     background-image: none !important
     border: 1px solid white
     border-radius: 0
     box-shadow: 0px 0px 1px 1px #ff0287
 .date-legend
   position: absolute
   white-space: nowrap

.resolved
  font-style: italic
  font-weight: bold
      
.opinion
  padding: 0.4em
  font-size: 90%
  background-color: #f5f5f5
  margin-bottom: 1em
  border: 1px solid rgba(0, 0, 0, 0.1)
  &.mine
    box-shadow: 0px 0px 3px 3px #ffa
  .choice
    float: right
    font-style: italic
.opinion-choice-0 /* conflict of interest */
  background-color: #aaa
  color: white
.opinion-choice-1 /* block */
  font-weight: bold
  background-color: #f00
  color: white
.opinion-choice-2 /* disapprove */
  background-color: #faa
  color: black
.opinion-choice-3 /* Need more discussion */
  background-color: #ffa
  color: black
.opinion-choice-4 /* Approve with reservations */
  color: black
.opinion-choice-5 /* Approve */
  color: black
  font-weight: bold


.constline
  .line
    width: 100%
    height: 3em
    background-color: white
    position: relative
    .tick
      height: 100%
      width: 2px;
      background-color: rgba(0, 0, 0, 0.5)
      position: absolute
    .point
      position: absolute
  .hist
    height: 16em
    position: relative
    .bar
      position: absolute
      background-color: rgba(0, 0, 0, 0.5)
      border: 1px solid black
      bottom: 0

a.dropdown-toggle span.caret
  border-top-color: black !important
  border-bottom-color: black !important

.notification-count
  color: white
  font-weight: bold
  font-size: 90%
  font-family: sans-serif
  background-color: #920
  display: inline-block
  border-radius: 1em
  padding-left: 0.5em
  padding-right: 0.5em

ul.dropdown-menu li.divider
  margin-top: 0.5em;
  margin-bottom: 0.5em;
.badge, .label
  font-family: sans-serif

.search-results
  .highlighted
    font-weight: bold
  .icon
    float: left
    margin-right: 0.5em
  li
    margin-top: 1em
  .summary
    font-size: 85%

.search-form
  form
    margin-top: 4px
    margin-bottom: 0
    .control-group
      margin-bottom: 0

.accordion-target
  display: none
  margin-bottom: 2em

.opinion-summary 
  position: relative
  .pie-tooltip
    border-radius: 0.5em
    background: rgba(255, 255, 255, 0.95)
    padding: 1em
    position: absolute
    border: 1px solid #999
    box-shadow: 1px 1px rgba(255, 255, 255, 0.5)
    z-index: 10

.cursive, h1, .home-page h2, footer h2, footer .sponsors
  cursive-font()

/* Home page */

h1, .home-page h2, footer h2, footer .sponsors
  text-align: center
  white-space: nowrap
  margin-bottom: 0.5em !important
.home-page
  .container-fluid
    padding-left: 0px !important
    padding-right: 0px !important
  .home-top
    padding: 2em
    .hero-unit
      background: rgba(230, 230, 230, 0.3)
      padding: 1em
      p
        line-height: 1.4em
        margin-bottom: 1em
      h1
        font-size: 40px

  .home-tools
    padding: 2em
    .tools
      .tool
        green-glow()
        h3
          margin-top: 0.5em
          margin-bottom: 0


// Mailing list threads....
.discussion
  .other-threads div
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  .message
    display: inline-block
    padding: 0.5em
    max-width: 72em
    font-size: 10pt
    line-height: 1.4em
    position: relative
    border: 1px solid #eee
    background-color: white
    font-family: monospace
    margin-bottom: 1em
    .headers
      th
        text-align: right
    .permalink
      font-size: 120%
      position: absolute
      right: 0
      top: 0
      padding: 0.5em
      visibility: hidden
    &:hover .permalink
      visibility: visible
    .body
      margin-top: 1em
      white-space: pre-wrap
  .thread-1, .thread-13  { margin-left:  2em }
  .thread-2, .thread-14  { margin-left:  4em }
  .thread-3, .thread-15   { margin-left:  6em }
  .thread-4, .thread-16   { margin-left:  8em }
  .thread-5, .thread-17   { margin-left: 10em }
  .thread-6, .thread-18   { margin-left: 12em }
  .thread-7, .thread-19   { margin-left: 14em }
  .thread-8, .thread-20   { margin-left: 16em }
  .thread-9, .thread-21  { margin-left: 18em }
  .thread-10, .thread-22  { margin-left: 20em }
  .thread-11, .thread-23  { margin-left: 22em }
  .thread-12, .thread-24  { margin-left: 24em }

.thread-list
  li
    list-style-type: none
  .trigger-message
    position: relative
  .message-body
    position: absolute
    top: 1.5em
    left: 0
    background: white
    border: 1px solid black
    border-radius: 1em
    width: 60em
    white-space: pre-wrap
    padding: 1em
    font-family: monospace
    z-index: 1
    display: none
    font-size: 11px
  .thread-1, .thread-13  { margin-left:  1em }
  .thread-2, .thread-14  { margin-left:  2em }
  .thread-3, .thread-15   { margin-left:  3em }
  .thread-4, .thread-16   { margin-left:  4em }
  .thread-5, .thread-17   { margin-left:  5em }
  .thread-6, .thread-18   { margin-left:  6em }
  .thread-7, .thread-19   { margin-left:  7em }
  .thread-8, .thread-20   { margin-left:  8em }
  .thread-9, .thread-21  { margin-left:  9em }
  .thread-10, .thread-22  { margin-left: 10em }
  .thread-11, .thread-23  { margin-left: 11em }
  .thread-12, .thread-24  { margin-left: 12em }

.discussion, .thread-list
  .quote, .quote a, .quote a:link, .quote a:visited
    color: #aaf
    font-size: 90%


footer-height = 370px
footer-height-narrow = 600px
footer
  background: linear-gradient(top, rgba(2,255,135,0), rgba(2,255,135,0.3))
  position: relative
  .ramp
    background: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5))
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  .footer-content
    border-color: #EEE
    border-color: #EEE -moz-use-text-color #fff
    border-image: none
    border-left: 0 none
    border-right: 0 none
    border-style: solid none
    border-width: 1px 0
    -moz-border-bottom-colors: none
    -moz-border-left-colors: none
    -moz-border-right-colors: none
    -moz-border-top-colors: none
    height: footer-height - 2px
    @media (max-width: 767px) { height: footer-height-narrow - 2px }
    position: relative
  .sponsors, .about-links, .community
    h2
      font-size: 120%
    padding: 1em
    border-radius: 0.5em
    li
      list-style-type: none
  .bg
    position: absolute
    bottom: 0px 
    left: 0
    width: 100%
    text-align: center

/* Sticky footer, a la http://ryanfait.com/sticky-footer/ */
html,body { height: 100% }
.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto (0px - footer-height)
  @media (max-width: 767px) { margin: 0 auto (0px - footer-height-narrow) }

footer, .push
  height: footer-height
  @media (max-width: 767px) { height: footer-height-narrow }


body.fence
  footer, header
    display: none
  input
    height: 1.5em
  .fence
    margin-top: 100px
    font-size: 200%
    line-height: 120%
    input[type=text]
      width: 100%
      font-size: 200%
    input[type=submit]
      width: 100%
      font-size: 200%

